@using AdminDashboard.Wasm.Models.ChattingMessage;
@using System.Globalization
@inherits BaseMessageComponent<GeoMessageViewModel>;
@inject IJSRuntime JSRuntime

<div class="d-flex flex-row my-4 @(IsUserMessage?"my-chat-message":"others-chat-message")" dir="@(IsUserMessage?"rtl":"ltr")">

    <div>
        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@Message?.CreatedDate.ToString("G", CultureInfo.CurrentCulture)</MudText>

        <MudCard style="cursor: pointer;">
            <div id="map" style="height: 400px; width: 400px;"></div>
        </MudCard>
    </div>

</div>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
            await JSRuntime.InvokeVoidAsync("initializeMap", "map", Message.Latitude, Message.Longitude, 10);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
